.hero-unit
  %h1 Welcome to Rivus
  %p 
    Rivus is a modest news aggregator that tries to fetch data from various
    sources.  So far, it'll pull from your Github event feed if you authorize
    it, and/or from whatever RSS/Atom feed you'll throw at it (so no Twitter, ha!).

  %p
    If I get a chance, I'll implement filters to hide or highlight events based
    on whatever you'll configure, and I'd like to plug Twilio's API too here. Not
    a chance I'do all that in 48 hours. Of course, this will be open-sourced. :)

  %p
    = link_to 'Sign-up', new_user_registration_url, class: 'btn btn-primary btn-large'
